/* for the entire page */
*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* for the body */
body{
    background-image: url(./assets/image\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

/* for the game heading */
.heading{
    margin-top: 150px;
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

/* for the flower, button, name and nickname */
.start{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 400px;
    align-items: center;
}

/* for the start button */
.start button{
    /* height: 50px; */
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-size: x-large;
    background-color: #ffcc00;
    font-weight: bold;
    margin-right: 100px;
}

/* if player hover over the start button */
.start button:hover{
    background-color: #ffd941;
}

/* for the name and input box to have gap in between them */
h2, input{
    margin-bottom: 20px;
}

/* seperate styling for input box */
input{
    width: 300px;
    height: 50px;
    border-radius: 5px;
}

/* for the placeholder inside the input box */
:placeholder-shown{
    font-size: 20px;
}

@media(max-width:600px){
    .start{
        display: block;
        align-items: center;
        justify-content: center;
    }
    .details, .heading{
        text-align: center;
    }
    .details{
        margin-top: 30px;
    }
}